<h1>Article Generator!</h1>

<form action="/articles" method="post">
  
  Article Name: <input type="text" id = "article_title" name = "title">
  Article Content: <input type="text" id = "article_content" name = "content">

  <button type="submit" value="submit">Submit</button>
</form>